[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cellularautomata"]
	path = cellularautomata
	url = https://github.com/vladtarko/cellularautomata
